.section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  gap: 1.5rem;
  max-width: 75em;

  .section-heading-one {
    font-family: "Caveat" !important;
    color: rgb(18, 168, 218);
    font-weight: 600;
    font-size: 1.3rem;
    font-style: italic;
  }
  .section-heading-two {
    color: rgb(12, 36, 68);
    font-size: clamp(2rem, 10vw, 3.5rem);
    font-weight: 900;
    width: 70vw;
    max-width: 12.5em;
    text-align: center;
    text-wrap: pretty;
    line-height: 95%;
  }
  .section-text {
    color: rgb(145, 164, 186);
    max-width: 50em;
    text-align: center;
    text-wrap: pretty;
    font-size: 1.1rem;
  }
}
