#companies {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.companieImgs {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 75em;
}
.companieImg {
  height: 2rem;
}

#companies span {
  padding: 1rem;
  color: rgb(132, 149, 164);
  max-width: 75em;
  text-wrap: pretty;
  font-weight: 600;
}
