.btn__book_a_demo {
  background: linear-gradient(
    150deg,
    rgb(246, 180, 57) 10%,
    rgba(255, 111, 0, 0.912)
  );
  border-radius: 2rem;
  border: none;
  padding: 1.2rem;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.602);
  text-wrap: nowrap;
  cursor: pointer;
}

.btn__arrow::after {
  transition: all 0.1s ease-in-out;
  content: "🡢";
  margin-left: 0.6rem;
  font-size: 90%;
}
.btn__arrow_margin_left:hover::after {
  margin-left: 1.2rem;
}


