#intro {
  overflow: hidden;
  position: relative;
}

.introduction {
  height: 100lvh;
  max-height: calc(80em - 5rem);
  width: 100vw;
  background: linear-gradient(150deg, rgb(20, 164, 252), rgb(21, 115, 221));
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 0;
}

/* The cicrcle in background */
.introduction::before {
  background: linear-gradient(
    170deg,
    rgba(43, 219, 246, 0.863) ,
    rgb(21, 115, 221) 70%
  );
  height: 100vh;
  width: 100vh;
  z-index: -1;
  position: absolute;
  content: "";
  right: 0;
  border-radius: 50% 0 0 50%;
  transform: translate(50%, 10%) translateZ(-10px);
}
/* ------------------------- */

/* The inroduction text */
.introductionContext {
  padding-top: 6rem;
  height: 100%;
  width: 90vw;
  max-width: 75em;
  display: flex;
  flex-direction: column;
}

.introBigText {
  font-weight: 900;
  text-wrap: wrap;
  max-width: 600px;
  font-size: clamp(3rem, 10vw, 6rem);
  line-height: 90%;
}
.introSmalltext {
  text-wrap: pretty;
  max-width: 660px;
  font-weight: 100;
  font-size: clamp(1rem, 10vw, 1.3rem);
  letter-spacing: 2px;
  padding: 1.5rem 0;
}

.introBold {
  font-weight: 600;
}
.introBold::before,
.introBold::after {
  content: " ";
}

.introButtons {
  display: flex;
  gap: 1rem;
  padding: 1.5rem 0;
  z-index: 10;
}



.certificateImgs {
  padding: 1rem 0;
  display: flex;
  gap: 2rem;
}
/* ------------------------- */

/* Bg Img */
.eloomiBgImg {
  position: absolute;
  right: 30%;
  bottom: 20%;
  transform: rotate(12deg);
  height: 60%; /* to change the bg images*/
  z-index: -1;
}
.eloomiBgImgBig {
  position: absolute;
  height: 100%;
}
.eloomiBgImgSmall {
  position: relative;
  top: 45%;
  left: 235%;
  transition: translate(50%, 50%);
  height: 38%;
  z-index: 1;
}
/* ------------------------- */
.waves {
  position: absolute;
  bottom: -4%;
  width: 120%;
  left: 0%;
  z-index: 1;
  pointer-events: none;
}